[defaults]

forks = 50
gathering = smart
host_key_checking = False
inventory      = /.ansible/hosts
library        = /.ansible/my_modules/
module_utils   = /.ansible/my_module_utils/
remote_tmp     = ~/.ansible/tmp
local_tmp      = ~/.ansible/tmp
remote_user = root
retry_files_enabled = False
roles_path = ./roles
timeout = 10

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=10m
